@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-txt-1: #fff;
    --color-txt-2: #000;
    --bg-s-1: #01003f;
    --bg-s2: #f6eeee;
    --hover-link-1: #1513ba86;
    --bg-btn1: #42c1e8;
    --bg-btn2: #262626;
    --color-txt-lg: linear-gradient(90deg, #374f87 0%, #182848 100%);
    --siz-p-1: 16px;
    --siz-p-2: 18px;
    --siz-p-3: 20px;
    --siz-img: 350px
}

.bx-user{
    color: var(--color-txt-1);
    font-size: 30px;
}
.bx.bx-x{
    position: absolute;
    right: 15px;
    font-size: 30px;
    opacity: 0;
}

.bx.bx-x.display{
    opacity: 1;
    transition: all .1s;
}

.bx.bx-menu{
    font-size: 30px;
    transition: .2s;
}

.bx.bx-menu.display{
    opacity: 0;
    transition: all .1s;
}

.bx.bx-menu:hover{
    font-size: 28px;
    cursor: pointer;
    padding-left: 2px;
}
.bx.bx-x:hover{
    font-size: 28px;
    cursor: pointer;
    padding-left: 2px;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--bg-s-1);
    color: var(--color-txt-1);
    padding: 15px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: inherit;
    display: inline-block;
    width: 125px;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.1;
}

.header .sign-up{
    display: none;
}

.header .navbar{
    display: block;
    position: absolute;
    top: 74px;
    right: 0;
    height: 100%;
    background-color: var(--bg-s-1);
    box-shadow: -2px 1px 1px rgba(0, 0, 0, 0.329);
    width: 50%;
    transition: all 0.2s;
    margin-right: 0%;
}

.header .mobile-menu{
    margin-right: -50%;
    box-shadow: none;
}

.header .navbar a{
    color: var(--color-txt-1);
    display: block;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    transition: .5s all ease;
}

.header .navbar a:last-child{
    margin-right: 0;
}

.header .navbar a:hover, .header .navbar a.active{
    border-radius: 4px;
    background-color: var(--hover-link-1);
}

.btn{
    color: var(--bg-s-1);
    background: var(--bg-btn1);
    font-size: 16px;
    border: 2px solid var(--bg-btn1);
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 600;
}

@keyframes menu{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

@keyframes menu_animate{
    0%{
        width: 50%;
    }
    100%{
        width: 0;
    }
}

@media only screen and (min-width: 413px){
    .header .sign-up{
        transition: all .2s;
        display: inline-block;
        font-weight: 500;
    }
    .header .header-sign{
        display: flex;
        align-items: center;
        color: inherit;
        font-size: 14px;
    }

}

@media only screen and (min-width: 890px){
    .bx.bx-menu{
        display: none;
    }

    .header .navbar{
        position: relative;
        height: auto;
        top: 0;
        background-color: var(--bg-s-1);
        transition: all 0.5s;
        margin: 0;
    }
    .header .navbar.mobile-menu{
        top: 0;
        display: flex;
        justify-content: space-between;
    }
    .header .navbar a{
        padding: 0 10px;
        display: block;
    }

    .header .navbar a.active, .header .navbar a:hover{
        color: var(--bg-btn1);
    }
}

@media only screen and (min-width: 980px){
}